<!-- HEADER BAR -->
<div class="header-bar-stick">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="6" [rowspan]="2">
            <h1 class="full-width">{{'weeklyPrizes'| translate}}</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <button mat-raised-button class="all-button" color="primary" (click)="switchLoadCSV()">
                {{'importCSV' | translate}}
            </button>
            <button mat-raised-button class="all-button" style="background-color: lightgray;" (click)="onNoClick($event)">
                {{'close' | translate}}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- END HEADER BAR -->



<!-- LOAD CSV -->
<form *ngIf="viewLoadCSV" [formGroup]="validatingForm" class="norm-border">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p class="full-width title-mid">
                {{'weeks' | translate}}
                <button style="width: 40px;height: 40px;" type="button" mat-icon-button color="primary"
                    (click)="download('weekDownload')" matTooltip="{{'downloadWeekExampleCsv' | translate}}">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            file_download
                        </span>
                    </mat-icon>
                </button>
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p class="full-width title-mid">
                {{'prizes' | translate}}
                <button style="width: 40px;height: 40px;" type="button" mat-icon-button color="primary" (click)="download('rewDownload')"
                matTooltip="{{'downloadRewardExampleCsv' | translate}}">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            file_download
                        </span>
                    </mat-icon>
                </button>
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="download-button">
                <mat-form-field appearance="fill" class="input-class">
                    <input matInput type="file" accept=".csv" id="weeks" formControlName="weeks" (change)="uploadWeeks($event)">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="download-button">
                <mat-form-field appearance="fill" class="input-class">
                    <input matInput type="file" accept=".csv" id="rewards" formControlName="rewards" (change)="uploadRewards($event)">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="2">
            <p *ngIf="msgError" class="error">{{msgError}}</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <button mat-raised-button class="all-button" color="primary" (click)="addRewards()">
                <mat-icon>save</mat-icon>
                {{'save' | translate}}
            </button>
            <button mat-raised-button  class="all-button" style="background-color: lightgray;" (click)="switchLoadCSV()">
                {{'close' | translate}}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<!-- END LOAD CSV -->



<div class="tutto">
<!-- TABLE -->
<form class="left-column">
    <h2>{{'periodRewardList' | translate}}</h2>
<form class="table-panel">
<table class="full-width" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="index-dates" >
        <th *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element" class="bold">
            <div class="panel">
                <details>
                    <summary *ngIf="element.weekNumber == 0" style="background-color: #f0bc5498;">
                        <ul>
                            <li class="titleValue"><time>{{'id' | translate}}:</time> {{element.weekNumber}}</li>
                            <li class="titleValue">{{'finalRewards' | translate}}</li>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon" (click)="goFinalRewards()">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ul>
                    </summary>
                    <summary *ngIf="element.weekNumber != 0">
                        <ul>
                            <li class="titleValue"><time>{{'id' | translate}}:</time> {{element.weekNumber}}</li>
                            <li class="titleValue"><time>{{'dateFrom' | translate}}:</time> {{fromTimestampToDate(element.dateFrom)}} </li>
                            <li class="titleValue"><time>{{'dateTo' | translate}}:</time> {{fromTimestampToDate(element.dateTo)}} </li>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon" (click)="goEditPeriod(element, element.weekNumber)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ul>
                    </summary>
                    <div class="content">
                        <p *ngFor="let item of element.rewards;let i = index">
                            {{i+1}}°: {{item.desc[selectedLang]}}
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon"  (click)="goEditReward(item, element.weekNumber, i)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </p>
                        <p>
                            {{'newReward' | translate}}
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon"  (click)="goNewReward(element.weekNumber)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </p>
                    </div>
                </details>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'newItem' : !!row && !!newItem &&  row.index === newItem.index}"
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</form>
<mat-grid-list cols="1" rowHeight="45px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button class="all-button" color="primary" (click)="goNewPeriod()">+ {{'newPeriod' | translate}}</button>
        <button mat-raised-button [disabled]="checkWeek0()" class="all-button" style="background-color: lightgray;" (click)="addFinalRewards()">+ {{'finalRewards' | translate}}</button>
    </mat-grid-tile>
</mat-grid-list>
</form>
<!-- END TABLE -->



<!-- EDIT PERIOD SYSTEM -->
    <form class="right-column" *ngIf="viewEditPeriod">
        <mat-grid-list cols="8" rowHeight="45px">
            <mat-grid-tile [colspan]="7" [rowspan]="1">
                <h2 class="full-width">{{'editPeriod' | translate}}</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-button class="language-button" color="primary" [disabled]="checkIta()" (click)="toggleSaveAndChangeLanguagePopup1()">ITA</button>
                |
                <button mat-button class="language-button" color="warn" [disabled]="checkEng()" (click)="toggleSaveAndChangeLanguagePopup1()">ENG</button> 
            </mat-grid-tile>
        </mat-grid-list>
        <form class="edit-panel">
            <div class="in-line-forms">
                <mat-form-field appearance="fill" class="input-half-left">
                    <mat-label>{{'dateFrom' | translate}}</mat-label>
                    <input matInput id="dateFrom" type="datetime-local" name="editPeriodField1" [(ngModel)]="dateFrom" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-half-right">
                    <mat-label>{{'dateTo' | translate}}</mat-label>
                    <input matInput id="dateTo" type="datetime-local" name="editPeriodField2" [(ngModel)]="dateTo" required>
                </mat-form-field>
            </div>
            <h3>{{'periodNote' | translate}}</h3>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'periodNote' | translate}}</mat-label>
                <input matInput id="period-note" name="editPeriodField3" [(ngModel)]="periodNote">
            </mat-form-field>
            <p *ngIf="checkDate()" style="color: red;">La data di inizio deve precedere la data di fine!</p>
        </form>
        <div>
            <mat-grid-list cols="1" rowHeight="45px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button class="all-button" color="primary" type="submit" (click)="toggleSaveEditPeriodPopup()">{{'savePeriod' | translate}}</button>
                    <button mat-raised-button class="all-button" style="background-color: lightgrey;" (click)="toggleCancelPopup()">{{'cancel' | translate}}</button>
                    <button mat-raised-button class="all-button" color="warn" (click)="toggleDeleteEditPerioddPopup()">{{'deletePeriod' | translate}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </form>
<!-- END EDIT PERIOD SYSTEM -->



<!-- NEW PERIOD SYSTEM -->
<form class="right-column" *ngIf="viewNewPeriod">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'newPeriod' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" [disabled]="checkIta()" (click)="toggleSaveAndChangeLanguagePopup2()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" [disabled]="checkEng()" (click)="toggleSaveAndChangeLanguagePopup2()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
    <form class="edit-panel">
        <div class="in-line-forms">
            <mat-form-field appearance="fill" class="input-half-left">
                <mat-label>{{'dateFrom' | translate}}</mat-label>
                <input matInput id="dateFrom" type="datetime-local" name="newPeriodField1" [(ngModel)]="dateFrom" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-half-right">
                <mat-label>{{'dateTo' | translate}}</mat-label>
                <input matInput id="dateTo" type="datetime-local" name="newPeriodField2" [(ngModel)]="dateTo" required>
            </mat-form-field>
        </div>
        <h3>{{'periodNote' | translate}}</h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'periodNote' | translate}}</mat-label>
            <input matInput id="reward-description" name="newPeriodField3" [(ngModel)]="periodNote">
        </mat-form-field>
        <p *ngIf="checkDate()" style="color: red;">La data di inizio deve precedere la data di fine!</p>
    </form>
    <div>
        <mat-grid-list cols="1" rowHeight="45px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button class="all-button" color="primary" type="submit" (click)="toggleAddPeriodPopup()">{{'savePeriod' | translate}}</button>
                <button mat-raised-button class="all-button" style="background-color: lightgrey;" (click)="toggleCancelPopup()">{{'cancel' | translate}}</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</form>
<!-- END NEW PERIOD SYSTEM -->



<!-- FINAL REWARDS -->
<form class="right-column" *ngIf="viewFinalRewards">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'finalRewards' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" [disabled]="checkIta()" (click)="toggleSaveAndChangeLanguagePopup3()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" [disabled]="checkEng()" (click)="toggleSaveAndChangeLanguagePopup3()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
    <form class="edit-panel">
        <h3>{{'finalRewardsNote' | translate}}</h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'finalRewardsNote' | translate}}</mat-label>
            <input matInput id="reward-description" name="finalRewardsField" [(ngModel)]="finalRewardsNote">
        </mat-form-field>
    </form>
    <div>
        <mat-grid-list cols="1" rowHeight="45px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button class="all-button" color="primary" type="submit" (click)="toggleSaveFinalRewardsPopup()">{{'saveFinalRewards' | translate}}</button>
                <button mat-raised-button class="all-button" style="background-color: lightgrey;" (click)="toggleCancelPopup()">{{'cancel' | translate}}</button>
                <button mat-raised-button class="all-button" color="warn" (click)="toggleDeleteFinalRewardsdPopup()">{{'deleteFinalRewards' | translate}}</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</form>
<!-- END FINAL REWARDS -->



<!-- EDIT REWARDS SYSTEM -->
<form class="right-column" *ngIf="viewEditRewards">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'editReward' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" [disabled]="checkIta()" (click)="toggleSaveAndChangeLanguagePopup4()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" [disabled]="checkEng()" (click)="toggleSaveAndChangeLanguagePopup4()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
        <form class="edit-panel">
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'rewardDenomination' | translate}}</mat-label>
                <input matInput id="reward-denomination" name="editrewardField1" [(ngModel)]="rewardDesc" required>
            </mat-form-field>
            <br>
            <label>{{'assignedTo' | translate}}:</label>
            <mat-form-field appearance="fill" class="input-half-right">
                <mat-icon matSuffix style="cursor: pointer" (click)="clearNickname()">close</mat-icon>
                <mat-label>{{ 'Nickname / ID' }}</mat-label>
                <input matInput id="reward-assignment" name="editrewardField2" [(ngModel)]="nickname">
            </mat-form-field>
            <br>
            <h3> {{'Sponsor' | translate}} </h3>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'sponsorName' | translate}}</mat-label>
                <input matInput id="sponsor-name" name="editrewardField3" [(ngModel)]="sponsorName" >
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'sponsorDescription' | translate}}</mat-label>
                <input matInput [disabled]="!checkSponsor(sponsorName, sponsorDesc, sponsorWebsite)" id="sponsor-description" name="editrewardField4" [(ngModel)]="sponsorDesc">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'sponsorWebsite' | translate}}</mat-label>
                <input matInput [disabled]="!checkSponsor(sponsorName, sponsorDesc, sponsorWebsite)" id="sponsor-website" name="editrewardField5" [(ngModel)]="sponsorWebsite">
            </mat-form-field>
            <h3>{{'rewardNote' | translate}}</h3>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'rewardNote' | translate}}</mat-label>
                <input matInput id="reward-note" name="editrewardField6" [(ngModel)]="rewardNote">
            </mat-form-field>
        </form>
        <div>
            <mat-grid-list cols="1" rowHeight="45px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button class="all-button" color="primary" type="submit" (click)="toggleSaveEditRewardPopup()">{{'saveReward' | translate}}</button>
                    <button mat-raised-button class="all-button" color="primary" (click)="toggleSpostaPopup()" (click)="generaNuoviValori()">{{'move' | translate}}</button>
                    <button mat-raised-button class="all-button" style="background-color: lightgray;" (click)="toggleCancelPopup()">{{'cancel' | translate}}</button>
                    <button mat-raised-button class="all-button" color="warn" (click)="toggleDeleteRewardPopup()">{{'deleteReward' | translate}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>       
    </form>
<!-- END EDIT REWARDS SYSTEM -->



<!-- NEW REWARD SYSTEM -->
<form class="right-column" *ngIf="viewNewReward">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'newReward' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" [disabled]="checkIta()" (click)="toggleSaveAndChangeLanguagePopup5()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" [disabled]="checkEng()" (click)="toggleSaveAndChangeLanguagePopup5()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
    <form class="edit-panel">
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'rewardDenomination' | translate}}</mat-label>
            <input matInput id="reward-denomination" name="newRewardField6" [(ngModel)]="rewardDesc" required>
        </mat-form-field>
        <br>
        <label>{{'assignedTo' | translate}}:</label>
        <mat-form-field appearance="fill" class="input-half-right">
            <mat-icon matSuffix style="cursor: pointer" (click)="clearNickname()">close</mat-icon>
            <mat-label>{{ 'Nickname / ID' }}</mat-label>
            <input matInput id="reward-assignment" name="newRewardField2" [(ngModel)]="nickname">
        </mat-form-field>
        <br>
        <h3> {{'Sponsor' | translate}} </h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'sponsorName' | translate}}</mat-label>
            <input matInput type="text" id="sponsor-name" name="newRewardField3" [(ngModel)]="sponsorName">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'sponsorDescription' | translate}}</mat-label>
            <input matInput id="sponsor-description"  name="newRewardField4" [(ngModel)]="sponsorDesc">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'sponsorWebsite' | translate}}</mat-label>
            <input matInput id="sponsor-website"  name="newRewardField5" [(ngModel)]="sponsorWebsite">
        </mat-form-field>
        <h3>{{'rewardNote' | translate}}</h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'rewardNote' | translate}}</mat-label>
            <input matInput id="reward-note" name="newRewardField6" [(ngModel)]="rewardNote">
        </mat-form-field>
    </form>
    <div>
        <mat-grid-list cols="1" rowHeight="45px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleAddRewardPopup()">{{'saveReward' | translate}}</button>
                <button mat-raised-button class="all-button" style="background-color: lightgray" (click)="toggleCancelPopup()">{{'cancel' | translate}}</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>       
</form>
<!-- END NEW REWARD SYSTEM -->
</div>



<!-- SPOSTA -->
<div class="popup" *ngIf="isSpostaPopupOpen">
    <div class="popup-content">
        <h2>Sposta il premio</h2>
        <span>Periodo:</span>
        <mat-form-field appearance="fill" class="input-half-right">
            <mat-label>{{ 'Seleziona periodo' }}</mat-label>
            <mat-select *ngIf="checkWeek0()">
                <mat-option *ngFor="let item of campaign.weekConfs; let i = index">
                    <p (click)="selectPeriod(i)">{{ i }}</p>
                </mat-option>
            </mat-select>
            <mat-select *ngIf="!checkWeek0()">
                <mat-option *ngFor="let item of campaign.weekConfs; let i = index">
                    <p (click)="selectPeriod(i + 1)">{{ i + 1 }}</p>
                </mat-option>
            </mat-select>
            <input matInput name="rewardFieldSposta" [(ngModel)]="selectedPeriod">
        </mat-form-field>
        <br>
        <span>Sposta prima del premio:</span>
        <mat-form-field appearance="fill" class="input-half-right">
            <mat-label>{{ 'Seleziona periodo' }}</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of campaign.weekConfs[weekNumberTmp].rewards; let i = index">
                    <p (click)="selectReward(i + 1)">{{ i + 1 }}</p>
                </mat-option>
            </mat-select>
            <input matInput name="rewardFieldSposta" [(ngModel)]="selectedPrize">
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSpostaPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="sposta()" (click)="toggleSpostaPopup()">{{'save' | translate}}</button>
    </div>
</div>
<!-- END SPOSTA -->



<!-- POPUPS -->
<div class="popup" *ngIf="isSaveEditPeriodPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler salvare le modifiche?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveEditPeriodPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveEditPeriodPopup()" (click)="saveEditPeriod()" (click)="goDefaultPage()">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isDeleteEditPeriodPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler eliminare il periodo?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleDeleteEditPerioddPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="warn" (click)="toggleDeleteEditPerioddPopup()" (click)="goDefaultPage()" (click)="goDefaultPage()">{{'delete' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isAddPeriodPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler salvare le modifiche?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleAddPeriodPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleAddPeriodPopup()" (click)="addPeriod()" (click)="goDefaultPage()">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveFinalRewardsPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler salvare le modifiche?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveFinalRewardsPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveFinalRewardsPopup()" (click)="saveFinalRewards()" (click)="goDefaultPage()">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isDeleteFinalRewardsPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler eliminare i premi finali?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleDeleteFinalRewardsdPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="warn" (click)="toggleDeleteFinalRewardsdPopup()" (click)="deleteFinalRewards()" (click)="goDefaultPage()">{{'delete' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveEditRewardPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler salvare le modifiche?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveEditRewardPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveEditRewardPopup()" (click)="saveEditReward()" (click)="goDefaultPage()">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isDeleteRewardPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler eliminare il premio?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleDeleteRewardPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="warn" (click)="toggleDeleteRewardPopup()" (click)="deleteReward()" (click)="goDefaultPage()">{{'delete' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isAddRewardPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler salvare le modifiche?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleAddRewardPopup()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleAddRewardPopup()" (click)="addReward()" (click)="goDefaultPage()">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isCancelPopupOpen">
    <div class="popup-content">
        <h2>Sei sicuro di voler annullare le modifiche?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleCancelPopup()">{{'no' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleCancelPopup()" (click)="goDefaultPage()">{{'yes' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveAndChangeLanguage1">
    <div class="popup-content">
        <h2>Salvare eventuali modifiche e cambiare la lingua?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveAndChangeLanguagePopup1()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveAndChangeLanguagePopup1()" (click)="saveEditPeriod()" (click)="switchLanguage()" (click)="goEditPeriod(oggettoTmp, weekNumberTmp)">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveAndChangeLanguage2">
    <div class="popup-content">
        <h2>Salvare eventuali modifiche e cambiare la lingua?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveAndChangeLanguagePopup2()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveAndChangeLanguagePopup2()" (click)="addPeriod()" (click)="switchLanguage()" (click)="goEditPeriod(oggettoTmp, weekNumberTmp)">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveAndChangeLanguage3">
    <div class="popup-content">
        <h2>Salvare eventuali modifiche e cambiare la lingua?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveAndChangeLanguagePopup3()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveAndChangeLanguagePopup3()" (click)="saveFinalRewards()" (click)="switchLanguage()" (click)="goFinalRewards()">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveAndChangeLanguage4">
    <div class="popup-content">
        <h2>Salvare eventuali modifiche e cambiare la lingua?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveAndChangeLanguagePopup4()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveAndChangeLanguagePopup4()" (click)="saveEditReward()" (click)="switchLanguage()" (click)="goEditReward(oggettoTmp, weekNumberTmp, indiceTmp-1)">{{'save' | translate}}</button>
    </div>
</div>

<div class="popup" *ngIf="isSaveAndChangeLanguage5">
    <div class="popup-content">
        <h2>Salvare eventuali modifiche e cambiare la lingua?</h2>
        <button mat-raised-button type="submit" class="all-button" style="background-color: lightgray" (click)="toggleSaveAndChangeLanguagePopup5()">{{'close' | translate}}</button>
        <button mat-raised-button type="submit" class="all-button" color="primary" (click)="toggleSaveAndChangeLanguagePopup5()" (click)="addReward()" (click)="switchLanguage()" (click)="goEditReward(oggettoTmp, weekNumberTmp, campaign.weekConfs[weekNumberTmp].rewards.length-1)">{{'save' | translate}}</button>
    </div>
</div>
<!-- END POPUPS -->



<!-- IN PROGRESS -->