<!-- HEADER BAR -->
<div class="header-bar-stick">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="6" [rowspan]="2">
            <h1 class="full-width">{{'weeklyPrizes'| translate}}</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <button mat-raised-button class="all-button" color="primary" (click)="switchLoadCSV()">
                {{'importCSV' | translate}}
            </button>
            <button mat-raised-button class="all-button" style="background-color: lightgray;" (click)="onNoClick($event)">
                {{'close' | translate}}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- END HEADER BAR -->


<!-- LOAD CSV -->
<form *ngIf="viewLoadCSV" [formGroup]="validatingForm" class="norm-border">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p class="full-width title-mid">
                {{'weeks' | translate}}
                <button style="width: 40px;height: 40px;" type="button" mat-icon-button color="primary"
                    (click)="download('weekDownload')" matTooltip="{{'downloadWeekExampleCsv' | translate}}">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            file_download
                        </span>
                    </mat-icon>
                </button>
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p class="full-width title-mid">
                {{'prizes' | translate}}
                <button style="width: 40px;height: 40px;" type="button" mat-icon-button color="primary" (click)="download('rewDownload')"
                matTooltip="{{'downloadRewardExampleCsv' | translate}}">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            file_download
                        </span>
                    </mat-icon>
                </button>
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="download-button">
                <mat-form-field appearance="fill" class="input-class">
                    <input matInput type="file" accept=".csv" id="weeks" formControlName="weeks" (change)="uploadWeeks($event)">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="download-button">
                <mat-form-field appearance="fill" class="input-class">
                    <input matInput type="file" accept=".csv" id="prizes" formControlName="prizes" (change)="uploadRewards($event)">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="2">
            <p *ngIf="msgError" class="error">{{msgError}}</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <button mat-raised-button class="all-button" color="primary" (click)="addPrizes()">
                <mat-icon>save</mat-icon>
                {{'save' | translate}}
            </button>
            <button mat-raised-button  class="all-button" style="background-color: lightgray;" (click)="switchLoadCSV()">
                {{'close' | translate}}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<!-- END LOAD CSV -->

<div class="tutto">
<!-- TABLE -->
<form class="left-column">
    <h2>{{'periodPrizeList' | translate}}</h2>
<form class="table-panel">
<table class="full-width" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="index-dates" >
        <th *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element" class="bold">
            <div class="panel">
                <details>
                    <summary *ngIf="element.weekNumber == 0" style="background-color: #f0bc5498;">
                        <ul>
                            <li class="titleValue"><time>{{'id' | translate}}:</time> {{element.weekNumber}}</li>
                            <li class="titleValue">{{'finalPrizes' | translate}}</li>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon" (click)="goFinalPrizes()">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ul>
                    </summary>
                    <summary *ngIf="element.weekNumber != 0">
                        <ul>
                            <li class="titleValue"><time>{{'id' | translate}}:</time> {{element.weekNumber}}</li>
                            <li class="titleValue"><time>{{'dateFrom' | translate}}:</time> {{fromTimestampToDate(element.dateFrom)}} </li>
                            <li class="titleValue"><time>{{'dateTo' | translate}}:</time> {{fromTimestampToDate(element.dateTo)}} </li>
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon" (click)="goEditPeriod(element, element.weekNumber)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ul>
                    </summary>
                    <div class="content">
                        <p *ngFor="let item of element.rewards;let i = index">
                            {{i+1}}°: {{item.desc[selectedLang]}}
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon"  (click)="goEditPrize(item, element.weekNumber, i)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </p>
                        <p>
                            {{'newPrize' | translate}}
                            <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon"  (click)="goNewPrize(element.weekNumber)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </p>
                    </div>
                </details>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'newItem' : !!row && !!newItem &&  row.index === newItem.index}"
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</form>
<mat-grid-list cols="1" rowHeight="45px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button class="all-button" color="primary" (click)="goNewPeriod()">+ {{'newPeriod' | translate}}</button>
        <button mat-raised-button [disabled]="checkWeek0()" class="all-button" style="background-color: lightgray;" (click)="goFinalPrizes()">+ {{'finalPrizes' | translate}}</button>
    </mat-grid-tile>
</mat-grid-list>
</form>
<!-- END TABLE -->



<!-- EDIT PERIOD SYSTEM -->
    <form class="right-column" *ngIf="viewEditPeriod">
        <mat-grid-list cols="8" rowHeight="45px">
            <mat-grid-tile [colspan]="7" [rowspan]="1">
                <h2 class="full-width">{{'editPeriod' | translate}}</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-button class="language-button" color="primary" (click)="selezionaLinguaItaliana()">ITA</button>
                |
                <button mat-button class="language-button" color="warn" (click)="selezionaLinguaInglese()">ENG</button> 
            </mat-grid-tile>
        </mat-grid-list>
        <form class="edit-panel">
            <div class="in-line-forms">
                <mat-form-field appearance="fill" class="input-half-left">
                    <mat-label>{{'dateFrom' | translate}}</mat-label>
                    <input matInput id="dateFrom" type="datetime-local" value="{{ dateFrom }}" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-half-right">
                    <mat-label>{{'dateTo' | translate}}</mat-label>
                    <input matInput id="dateTo" type="datetime-local" value="{{ dateTo }}" required>
                </mat-form-field>
            </div>
            <h3>{{'periodNote' | translate}}</h3>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'periodNote' | translate}}</mat-label>
                <input matInput id="prize-description">
            </mat-form-field>
        </form>
        <div>
            <mat-grid-list cols="1" rowHeight="45px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button class="all-button" color="primary">{{'savePeriod' | translate}}</button>
                    <button mat-raised-button class="all-button" style="background-color: lightgrey;" (click)="goNewPeriod()">{{'cancel' | translate}}</button>
                    <button mat-raised-button class="all-button" color="warn" (click)="deletePeriod()" (click)="goNewPeriod()">{{'deletePeriod' | translate}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </form>
<!-- END EDIT PERIOD SYSTEM -->


<!-- NEW PERIOD SYSTEM -->
<form class="right-column" *ngIf="viewNewPeriod">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'newPeriod' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" (click)="selezionaLinguaItaliana()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" (click)="selezionaLinguaInglese()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
    <form class="edit-panel">
        <div class="in-line-forms">
            <mat-form-field appearance="fill" class="input-half-left">
                <mat-label>{{'dateFrom' | translate}}</mat-label>
                <input matInput id="dateFrom" type="datetime-local" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-half-right">
                <mat-label>{{'dateTo' | translate}}</mat-label>
                <input matInput id="dateTo" type="datetime-local" required>
            </mat-form-field>
        </div>
        <h3>{{'periodNote' | translate}}</h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'periodNote' | translate}}</mat-label>
            <input matInput id="prize-description">
        </mat-form-field>
    </form>
    <div>
        <mat-grid-list cols="1" rowHeight="45px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button class="all-button" color="primary" (click)="addPeriod()">{{'savePeriod' | translate}}</button>
                <button mat-raised-button class="all-button" style="background-color: lightgrey;" (click)="goNewPeriod()">{{'cancel' | translate}}</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</form>
<!-- END NEW PERIOD SYSTEM -->


<!-- FINAL REWARDS -->
<form class="right-column" *ngIf="viewFinalPrizes">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'finalPrizes' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" (click)="selezionaLinguaItaliana()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" (click)="selezionaLinguaInglese()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
    <form class="edit-panel">
        <h3>{{'finalPrizesNote' | translate}}</h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'finalPrizesNote' | translate}}</mat-label>
            <input matInput id="prize-description">
        </mat-form-field>
    </form>
    <div>
        <mat-grid-list cols="1" rowHeight="45px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button class="all-button" color="primary" (click)="addFinalPrizes()" (click)="goNewPeriod()">{{'saveFinalPrizes' | translate}}</button>
                <button mat-raised-button class="all-button" style="background-color: lightgrey;" (click)="goNewPeriod()">{{'cancel' | translate}}</button>
                <button mat-raised-button class="all-button" color="warn" (click)="deleteFinalPrizes()" (click)="goNewPeriod()">{{'deleteFinalPrizes' | translate}}</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</form>
<!-- END FINAL REWARDS -->


<!-- EDIT PRIZES SYSTEM -->
<form class="right-column" *ngIf="viewEditPrizes">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'editPrize' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" (click)="selezionaLinguaItaliana()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" (click)="selezionaLinguaInglese()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
        <form class="edit-panel">
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'prizeDenomination' | translate}}</mat-label>
                <input matInput id="prize-denomination" value="{{prizeDesc}}" required>
            </mat-form-field>
            <br>
            <label>{{'assignedTo' | translate}}:</label>
            <mat-form-field appearance="fill" class="input-half-right">
                <mat-icon matSuffix style="cursor: pointer">close</mat-icon>
                <mat-label>{{ 'Nickname / ID' }}</mat-label>
                <input matInput id="prize-assignment" value="{{nickname}}">
            </mat-form-field>
            <br>
            <h3> {{'Sponsor' | translate}} </h3>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'sponsorName' | translate}}</mat-label>
                <input matInput id="sponsor-name" value="{{sponsorName}}" >
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'sponsorDescription' | translate}}</mat-label>
                <input matInput [disabled]="!checkSponsor(sponsorName, sponsorDesc, sponsorWebsite)" id="sponsor-description" value="{{sponsorDesc}}">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'sponsorWebsite' | translate}}</mat-label>
                <input matInput [disabled]="!checkSponsor(sponsorName, sponsorDesc, sponsorWebsite)" id="sponsor-website" value="{{sponsorWebsite}}">
            </mat-form-field>
            <h3>{{'prizeNote' | translate}}</h3>
            <mat-form-field appearance="fill" class="input-full">
                <mat-label>{{'prizeNote' | translate}}</mat-label>
                <input matInput id="prize-description" value="{{prizeDesc}}">
            </mat-form-field>
        </form>
        <div>
            <mat-grid-list cols="1" rowHeight="45px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button class="all-button" color="primary">{{'savePrize' | translate}}</button>
                    <button mat-raised-button class="all-button" color="primary">{{'move' | translate}}</button>
                    <button mat-raised-button class="all-button" style="background-color: lightgray;" (click)="goNewPeriod()">{{'cancel' | translate}}</button>
                    <button mat-raised-button class="all-button" color="warn" (click)="deletePrize()" (click)="goNewPeriod()">{{'deletePrize' | translate}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>       
    </form>
<!-- END EDIT PRIZES SYSTEM -->


<!-- NEW PRIZE SYSTEM -->
<form class="right-column" *ngIf="viewNewPrize">
    <mat-grid-list cols="8" rowHeight="45px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <h2 class="full-width">{{'newPrize' | translate}}</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button class="language-button" color="primary" (click)="selezionaLinguaItaliana()">ITA</button>
            |
            <button mat-button class="language-button" color="warn" (click)="selezionaLinguaInglese()">ENG</button> 
        </mat-grid-tile>
    </mat-grid-list>
    <form class="edit-panel">
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'prizeDenomination' | translate}}</mat-label>
            <input matInput id="prize-denomination">
        </mat-form-field>
        <br>
        <label>{{'assignedTo' | translate}}:</label>
        <mat-form-field appearance="fill" class="input-half-right">
            <mat-label>{{ 'Nickname / ID' }}</mat-label>
            <input matInput id="prize-assignment">
        </mat-form-field>
        <br>
        <h3> {{'Sponsor' | translate}} </h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'sponsorName' | translate}}</mat-label>
            <input matInput type="text" id="sponsor-name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'sponsorDescription' | translate}}</mat-label>
            <input matInput id="sponsor-description">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'sponsorWebsite' | translate}}</mat-label>
            <input matInput id="sponsor-website">
        </mat-form-field>
        <h3>{{'prizeNote' | translate}}</h3>
        <mat-form-field appearance="fill" class="input-full">
            <mat-label>{{'prizeNote' | translate}}</mat-label>
            <input matInput id="prize-description">
        </mat-form-field>
    </form>
    <div>
        <mat-grid-list cols="1" rowHeight="45px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button type="submit" class="all-button" color="primary" (click)="addPrize()" (click)="goNewPrize(weekNumberTmp)">{{'savePrize' | translate}}</button>
                <button mat-raised-button class="all-button" color="primary">{{'move' | translate}}</button>
                <button mat-raised-button class="all-button" style="background-color: lightgray" (click)="goNewPeriod()">{{'cancel' | translate}}</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>       
</form>
<!-- END NEW PRIZE SYSTEM -->
</div>


<!-- IN PROGRESS -->